*, html {
	font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
}
body {
	padding-top: 50px;
	background: #FFF url(../img/bg_page.gif);
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.content-home {
  padding: 40px 15px;
}

.media-custom {
	-webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
padding: 15px;
}

#content {
	background-color: #FFF;
	-webkit-box-shadow: 0px -1px 10px 5px rgba(0,0,0,0.45);
-moz-box-shadow: 0px -1px 10px 5px rgba(0,0,0,0.45);
box-shadow: 0px -1px 10px 5px rgba(0,0,0,0.45);

}


@media (min-width: 1200px) {
	.shortcuts a {
		width: 150px;
		margin-top: 10px;
	}
}
	

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.panel, .panel-heading, .form-control, .btn, .breadcrumb,
.label, .alert, blockquote, .modal-content {
	border-radius: 0;
}

.page-header {
	border-bottom: 1px dotted #CCC;
	border-radius: 0;
}

.table-light > thead > tr {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
	background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	background-repeat: repeat-x;
}

.table-light-dark {
	font-family: Arial, Tahoma, sans-serif; 
}

.table-light-dark > thead > tr > th  {
	font-size: 0.8em;
	padding: 0.2em 0.4em;
	color: #603913;
	background-color: #FEF8E0;
	background-image: url('../img/table-common-header.gif');
	background-repeat: repeat-x;
	border: 1px solid #ece9d6;
	border-top: 1px solid #F2EECE !important;
	border-bottom: 1px solid #F9D54B;
	border-collapse: separate;
	text-align: center;
	text-transform: uppercase;
	
} 

.table-light-dark > tbody > tr > td {
	color: #333333;
	padding: 0.2em 0.4em;
	vertical-align: top;
	border: 1px solid #FDF1C1;	
	border-top: none;
	font-size: 0.9em;
	border-collapse: collapse;
}

.table-striped > tbody > tr:nth-child(2n+1) {
   background-color: #FCFBF3;
}

.table-striped > tbody > tr:hover {
   background-color: #FDF1C1;
}

th.headerSortUp { 
    background-image: url(../img/asc.gif) !important; 
    background-repeat: no-repeat !important; 
} 

th.headerSortDown { 
    background-image: url(../img/desc.gif) !important;
    background-repeat: no-repeat !important; 
} 

th.header { 
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.borleft-green {
	border-left:5px solid #5cb85c;
	padding:5px;
}

.borleft-yellow {
	border-left:5px solid #f0ad4e;
	padding:5px;
}

.borleft-red {
	border-left:5px solid #d9534f;
	padding:5px;
}

.borleft-blue {
	border-left:5px solid #5bc0de;
	padding:5px;
}

hr.line11 {
	height: 6px;
	background: url(../img/hr-11.png) repeat-x 0 0;
    border: 0;
}

hr.line13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
hr.line14 {
	height: 10px;
	border: 0;
	margin: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.control-label {
	font-weight: normal;
}

.list-group > .list-group-item {
	border-radius: 0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/loading10.gif') 50% 50% no-repeat rgb(249,249,249);
}

.ui-datepicker {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 80.5%;
}

#footer {
	background-color: #000;
}